a {
    text-decoration: none;
}

* {
    font-family: Arial, Helvetica, sans-serif;

}

.topbar-wrap {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99997;
    height: 50px;
    line-height: 75px;
    text-align: left;
    font-size: 32px;
    font-weight: bold;
    background-color: black;

}

.topbar-text-l {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99998;
    height: 40px;
    line-height: 50px;
    text-align: left;
    font-size: 32px;
    font-weight: bold;
    padding-left: 1em;

}

.topbar-blank {
    top: 30px;
}

.headline {
    margin: 1em;
}

.link {
    margin-left: 2em;
}

.link span {
    display: inline-block;
    margin-right: 1em;
}

.link span text {
    display: table;
}

@media (max-width: 550px) {
    .headline {
        text-align: center;
        margin: 0px;
        margin-top: 0.5em;
        margin-bottom: 1em;
    }

    .topbar-wrap {
        text-align: center;
    }

    .topbar-text-l {
        text-align: center;
        padding: 0px;
    }

    .link {
        text-align: center;
        margin: 0px;
    }
}

@media (prefers-color-scheme: dark) {
    .back {
        background-color: black;
        color: white;
    }

    a {
        color: white;
    }

    .topbar-wrap {
        background-color: black;
    }

    .text-fin {
        color: #009900;
    }

    .link span {
        border-color: white;
    }
}

@media (prefers-color-scheme: light) {
    .back {
        background-color: white;
        color: black;
    }

    a {
        color: black;
    }

    .topbar-wrap {
        background-color: white;
    }

    .text-fin {
        color: #00DD00;
    }

    .link span {
        border-color: black;
    }

}